@import '../user-edit-modal/user-edit-modal.scss';

.modal-small {
  max-width: 500px;
}

.warning-box {
  @apply flex gap-4 p-4 bg-yellow-500 bg-opacity-10 border border-yellow-500 rounded-lg;
}

.btn-danger {
  @apply bg-red-500 text-white;

  &:hover:not(:disabled) {
    @apply bg-red-600;
  }

  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}